__pycache__/
*.pyc
*.pyo
*.pyd
.Python
output.txt
*.o
*.exe
*.so
*.dylib
.DS_Store
*.swp
*.swo
*~
.vscode/
.env
.venv/
env/
venv/
__pypackages__/
.ipynb_checkpoints/
.idea/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache/
.pyre/
__pycache__/
.pytype/
.pytest_cache/

